@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.homeFirstContainerBg {
  background-image: url('./assets/images/vector.png');
  background-repeat: repeat-x;
  width: 100%;
}

.crousalItemBgImg {
  background-image: url('./assets/images/web/Vector.png');
  background-repeat: no-repeat;
  margin: 10px;
}

.custom-button-group {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

.button--previous {
  margin-right: 0;
}

.slick-dots {
  display: flex;
  justify-content: end;
}