@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto';
}

.homeFirstContainerBg{
  background-image: url('./assets/images/vector.png');
  background-repeat: repeat-x;
  width: 100%;
}

.crousalItemBgImg{
  background-image: url('./assets/images/web/Vector.png');
  background-repeat: no-repeat;
  margin: 10px;
}
